<li class="video-card">
    <div class="video-card__img">
        <img class="video-card__poster" src="/img/news/1.jpg" alt="video photo">
        <img class="video-card__play" src="/img/video/play.svg" alt="play">
    </div>
    <a href="#" class="video-card__title">@title</a>
    <p class="video-card__descr">@descr</p>
    <div class="video-card__wrapper">
        <div class="video-card__inner">
            <video src="https://videocdn.cdnpk.net/joy/content/video/free/video0485/large_preview/_import_61bac8f869af98.55664078.mp4?filename=1118632_4k_pattern_texture_3840x2160.mp4" controls>
            </video>
           
            <a href="#" class="video-card__title video-card__title--wr">@title</a>
            <p class="video-card__descr video-card__descr--wr">@descr</p>
        </div>
    </div>
</li>
