<div class="chronic">
    <ul class="chronic__list">
        <li class="chronic__item chronic__item--active">
            <div class="chronic__left">
                <h3 class="chronic__title"><span>Анна асти <br>
                    “я беременна”</span></h3>
                <p class="chronic__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="chronic__wrapper">
                    <a class="button chronic__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="chronic__right">
                <div class="chronic__img">
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/1.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/2.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/3.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/4.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/5.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/6.jpg" alt="">
                    </div>
                </div>
                <div class="chronic__heading sr-only">
                    <p>
                        <span></span>
                    </p>
                </div>
            </div>
        </li>
        <li class="chronic__item">
            <div class="chronic__left">
                <h3 class="chronic__title"><span>Анна асти <br>
                    “я беременна”</span></h3>
                <p class="chronic__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="chronic__wrapper">
                    <a class="button chronic__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="chronic__right">
                <div class="chronic__img">
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/1.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/2.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/3.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/4.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/5.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/6.jpg" alt="">
                    </div>
                </div>
                <div class="chronic__heading sr-only">
                    <p>
                        <span></span>
                    </p>
                </div>
            </div>
        </li>
        <li class="chronic__item">
            <div class="chronic__left">
                <h3 class="chronic__title"><span>Анна асти <br>
                    “я беременна”</span></h3>
                <p class="chronic__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="chronic__wrapper">
                    <a class="button chronic__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="chronic__right">
                <div class="chronic__img">
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/1.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/2.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/3.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/4.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/5.jpg" alt="">
                    </div>
                    <div class="chronic__image">
                        <img class="swiper-slide" src="/img/chronicle/6.jpg" alt="">
                    </div>
                </div>
                <div class="chronic__heading sr-only">
                    <p>
                        <span></span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <div class="numeric">
        <div class="numeric__numbers">
            <div class="numeric__current">
                03
            </div>&nbsp;/&nbsp; 
            <div class="numeric__total">
                20
            </div>
        </div>
        <div class="numeric__arrows">
            <button class="numeric__btn numeric__dec"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4572 19.4572L1.17893 10.1789M1.17893 10.1789L10.4572 0.900686M1.17893 10.1789L26.821 10.179" stroke="white"/>
                </svg>
                
                </button>
            <button class="numeric__btn  numeric__inc"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5428 0.542821L25.8211 9.82107M25.8211 9.82107L16.5428 19.0993M25.8211 9.82107L0.178969 9.82103" stroke="white"/>
                </svg>
                </button>
        </div>
    </div>
</div>