@import '../../scss/_vars.scss';
@import '../../scss/_functions.scss';
.article-hero {
  &__preview {
    color: #fff;
  }
  &__prev-inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 45%;
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
  }
  &__preview {
    padding-bottom: 150px;
  }
  &__main {
    color: #fff;
    // background-image: url(/img/noise2.png);
  }
}
.news-page {
  &__img-box {
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.line {
  &__inner {
    width: 100%;
    position: relative;
  }
  &__line {
      width: calc((100vw - 1920px) / 2 + 1820px);
      object-fit: fill;
      position: absolute;
      top: -50px;
      height: 785px;
      left: 0;
      z-index: 2;
      pointer-events: none;
      img {
          width: 100%;
      }
  }
}
.div {
  display: block;
  border-bottom: 1px solid #ffffff;
}
@media(max-width: 1920px) {
  .article-hero {
    
    &__top-video {
      height: calcVW(950);
      &::after {
        top: calcVW(-15);
      }
    }
    &__preview {
      padding-bottom: calcVW(150);
    }
    &__side {
      width: 46%;
      p {
        gap: calcVW(10);
        span {
          font-size: calcVW(56);
        }
        img {
          width: calcVW(48);
          height: calcVW(48);
        }
      }
    }
  }
  .line {
    &__inner {
      width: 100%;
      position: relative;
    }
    &__line {
        width: calc((100vw - calcVW(1920)) / 2 + calcVW(1820));
        top: calcVW(-50);
        height: calcVW(780);
    }
  }
  .chronicle {
    &__img-box {
      gap: calcVW(20);
      img {
        border-radius: calcVW(20);
        &:nth-child(1),
        &:nth-child(5) {
          border-radius: calcVW(200);
        }
      }
    }
  }
}

@media(max-width: 1100px) {
  .line {
    &__line {
      height: calcVW(800);
    }
  }
}

@media(max-width: 768px) {
  .article-hero {
    &__prev-inner {
      flex-direction: column-reverse;
      gap: 45px;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
    &__top-video {
      width: 100%;
      height: calcVW(2500);
      &::after {
        top: 5px;
      }
    }
    &__side {
     display: none;
    }
    &__preview {
      padding-bottom: 40px;
    }
  }
  .line__inner {
    display: none;
  }
  .news-page {
    &__img-box {
      margin-top: 40px;
    }
  }
}