@import '../../scss/_vars.scss';
@import '../../scss/_functions.scss';
.heroes {
  padding: 160px 0;
  color: #fff;
  &__item {
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 65px;
    border-radius: 200px;
    border: 2px solid $main;
    &:nth-child(even) {
      background-color: #fff;
      background-image: url(/img/noise2.png);
      color: #000;
      border: none;
      .heroes__img-box img{
        border-color: $main;
      }
      .heroes__type::after {
        background-color: #000;
      }
      .heroes__link {
        color: #ffffff;
        transition: all .5s ease-out;
        &:hover {
          color: #000000;
        }
      }
    }
    &:nth-child(odd) {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 70%;
        bottom: 0;
        transform: translateY(50%);
        width: 80px;
        height: 80px;
        background-image: url(../img/icons/star.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      
    }
  }
  &__img-box {
    width: 100%;
    max-width: 350px;
    img {
      height: 100%;
      border-radius: 200px;
      border: 2px solid #fff;
    }
  }

  &__type {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: #fff;
    }
  }
  &__name {
    margin-bottom: 20px;
    font-size: 48px;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 96px;
    text-transform: uppercase;
    color: $main;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__btn {
    margin: 0 auto;
  }
 
}

@media (max-width: 1920px) {
  .heroes {
    padding: calcVW(160) 0;
    &__top {
      
    }
    &__item {
      margin-bottom: calcVW(100);
      padding: calcVW(50);
      gap: calcVW(65);
      border-radius: calcVW(200);
      &:nth-child(odd) {
        &:before {
          width: calcVW(80);
          height: calcVW(80);
        }
      }
    }
    &__img-box {
      max-width: calcVW(350);
    }
    &__type {
      margin-bottom: calcVW(30);
      padding-bottom: calcVW(30);
      font-size: calcVW(24);
    }
    &__name {
      font-size: calcVW(48);
    }
    &__title {
      font-size: calcVW(96);
    }
    &__text {
      margin-bottom: calcVW(50);
    }
  }
}

@media (max-width: 991px) {
  .heroes {
    &__type {
      font-size: 16px;
    }
  }
}
@media (max-width: 768px) {
  .heroes {
    padding-top: 40px;
    &__img-box {
      max-width: 160px;
    }
  }
}
@media (max-width: 576px) {
  .heroes {
    &__item {
      padding: 0 10px;
      flex-direction: column;
      text-align: center;
      &:nth-child(odd):before {
        display: none;
      }
    }
    &__img-box {
      margin-top: -5px;
      max-width: 100%;
      max-height: 300px;
      aspect-ratio: 1;
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
      }
    }
    &__type {
      margin-bottom: 20px;
      padding-bottom: 20px;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__name {
      margin-bottom: 10px;
      font-size: 24px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__link {
      max-width: 100%;
    }
    &__btn {
      max-width: 100%;
    }
  }
}