@import '../../scss/_vars.scss';
@import '../../scss/_functions.scss';

.chronicle {
  padding: 160px 0;
  color: #fff;
  &__item {
    padding: 100px 0;
    &:first-child {
      padding-top: 0;
    }
    &:nth-child(even) {
      background-color: #fff;
      background-image: url(/img/noise2.png);
      color: #000;
      .chronicle__swiper {
        order: -1;
      }
      .chronicle__date {
        color: $main;
        &::after {
          background-color: #000;
        }
      }
      .chronicle__img-box {
        transform: rotateY(180deg);
        img {
          transform: rotateY(180deg);
        }
      }
      .chronicle__link {
        color: #ffffff;
        transition: all .5s ease-out;
        &:hover {
          color: #000000;
          svg path {
            stroke: #000;
          }
        }
      }
    }
 
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 44%;
  }
  &__swiper {
    margin: 0;
    overflow: visible;
    width: 50%;
  }
  &__img-box {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 41% 20% 9% 21%;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:nth-child(1),
      &:nth-child(5) {
        border-radius: 200px;
        border: 2px solid $main;
      }
      &:nth-child(2){
        grid-column: span 2;
      }
      &:nth-child(3){}
      &:nth-child(4){
        grid-row: span 2;
        grid-column: span 2;
        border: 2px solid $main;
      }
      &:nth-child(5){
        grid-column: span 2;
      }
      &:nth-child(6){
        grid-column: span 2;
      }
    }
  }
  &__date {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      height: 1px;
      background-color: #fff;
    }
  }
  &__name {
    margin-bottom: 20px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 96px;
    text-transform: uppercase;
    color: $main;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__btn {
    margin: 0 auto;
  }
}

@media (max-width: 1920px) {
  .chronicle {
    padding: calcVW(160) 0;
    &__item {
      padding: calcVW(100) 0;
    }
    &__date {
      margin-bottom: calcVW(30);
      padding-bottom: calcVW(30);
      font-size: calcVW(24);
    }
    &__name {
      font-size: calcVW(48);
    }
    &__title {
      font-size: calcVW(96);
    }
    &__text {
      margin-bottom: calcVW(50);
    }
  }
}

@media (max-width: 991px) {
  .chronicle {
    &__date {
      font-size: 16px;
    }
    &__swiper {
      width: 53%;
    }
  }
}
@media (max-width: 768px) {
  .chronicle {
    padding-top: 140px;
    &:nth-child(even) {
      .chronicle__img-box {
        transform: rotateY(0);
        img {
          transform: rotateY(0);
        }
      }
    }
    &__swiper {
      width: 100%;
      margin: 0 -20px;
      padding: 0 20px;
    }
    &__inner {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      text-align: center;
    }
    &__swiper {
      margin-bottom: 20px;
      order: -1;
    }
    &__img-box {
      display: flex;
      gap: 0;
      img.swiper-slide {
        width: 100%;
        height: 300px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 2px solid $main;
      }
    }
    &__date {
      margin-bottom: 20px;
      padding-bottom: 20px;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__name {
      margin-bottom: 10px;
      font-size: 24px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__link {
      max-width: 100%;
    }
    &__btn {
      max-width: 100%;
    }
  }
}
@media (max-width: 576px) {
  .chronicle {
    &__item {
      padding: 40px 0;
    }
  }
}