@import '../components/heroesSlider/heroesSlider';
@import '../components/chronicleSlider/chronicleSlider';

.runline {
  position: absolute;
  bottom: 0;
  transform: translateY(50%) rotate(-3deg);
  z-index: 3;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  &__inner {
    white-space: nowrap;
    text-transform: uppercase;
  }
  span {
    display: inline-block;
    font-size: calcVW(128);
    &:nth-child(1) {
      animation: run1 20s infinite -10s linear;
    }
    &:nth-child(2) {
      padding-left: 5px;
      animation: run2 20s infinite linear;
    }
  }
  svg {
    width: calcVW(90);
    height: calcVW(90);
  }
  &--ltr {
    transform: translateY(50%) rotate(3deg);
    span {
      &:nth-child(1) {
        animation: run1 20s infinite -10s reverse linear;
      }
      &:nth-child(2) {
        animation: run2 20s infinite reverse linear;
      }
    }
  }
  &--bg-violet {
    background-color: $main;
    span {
      color: #fff;
    }
    svg path {
      fill: #fff;
    }
  }
  &--violet {
    span {
      color: $main;
    }
    svg path {
      fill: $main;
    }
  }
}

@keyframes run1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes run2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.promo {
    position: relative;
    padding: 100px 0 100px;
    background: radial-gradient(rgba(60, 29, 118, 1), rgba(0, 0, 0, 1));
    &__title {
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        font-size: 165px;
        margin-bottom: 40px;
    }
    &__inner {
        width: 100%;
        position: relative;
    }
    &__line {
        width: calc((100vw - 1920px) / 2 + 1820px);
        object-fit: contain;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 2;
        pointer-events: none;
        img {
            width: 100%;
        }
    }
}
.heading {
    padding: 100px 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: start;
        gap: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        border-radius: 120px;
        height: 120px;
        border: 1px solid #ffffff;
        &:nth-child(5n+1) {
            width: calc(40% - 10px);
        }
        &:nth-child(5n+2) {
            width: calc(60% - 10px);
        }
        &:nth-child(5n+3) {
            width: calc(25% - 10px);
        }
        &:nth-child(5n+4) {
            width: calc(35% - 20px);
        }
        &:nth-child(5n+5) {
            width: calc(40% - 20px);
        }
        span {
            font-size: 40px;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    &__img {
        overflow: hidden;
        height: 120px;
        width: 200px;
        border-radius: 200px;
        border: 1px solid #ffffff;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.news {
    padding: 180px 0 0;
    background-color: #ffffff;
    position: relative;
    &__title {
      margin-bottom: 100px;
      font-size: 128px;
      text-transform: uppercase;
      text-align: right;
      font-weight: 300;
    }
    &__wrapper {
      position: relative;
      padding-bottom: 250px;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    &__container {
        width: 75%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        row-gap: 40px;
        margin-bottom: 150px;
    }
    &__descr {
        width: 20%;
        height: 1850px;
    }
    &__btn {
      position: absolute;
      bottom: 150px;
      left: 50%;
      transform: translateX(-50%);
      color: #000;
      border-color: $main;
      path {
        transition: all .3s ease-in-out;
        stroke: #000;
      }
      &:hover {
        background-color: $main;
        color: #fff;
        path {
          stroke: #fff;
        }
      }
    }
   
}


.hero {
    position: relative;
    padding: 180px 0 0;
    background: radial-gradient(rgba(60, 29, 118, 1), rgba(0, 0, 0, 1));
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__container {
        width: 75%;
    }
    &__descr {
        width: 20%;
        padding-top: 100px;
        height: 1060px;
        overflow: hidden;
    }
    &__title {
        display: inline-flex;
        align-items: center;
        padding: 100px;
        border: 2px solid $main;
        color: #ffffff;
        font-weight: 300;
        font-size: 128px;
        text-transform: uppercase;
        margin-left: 2%;
        margin-bottom: -1px;
        span {
          font-size: 48px;
        }
    }
    &__btn {
      margin: 80px auto 120px 23.1vw;
      background-color: transparent;
      color: #fff;
      border-color: $main;
      &:hover {
        background-color: $main;
      }
    }
}

.chronicle {
    padding: 200px 0 0;
    background-color: #ffffff;
    position: relative;
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__container {
        width: 75%;
    }
    &__descr {
        width: 20%;
        height: 1060px;
        overflow: hidden;
    }
    &__title {
        display: inline-block;
        padding: 80px 0;
        font-weight: 300;
        font-size: 128px;
        text-transform: uppercase;
    }
    &__btn {
      margin: 100px auto;
      color: #000;
      border-color: $main;
      path {
        transition: all .3s ease-in-out;
        stroke: #000;
      }
      &:hover {
        background-color: $main;
        color: #fff;
        path {
          stroke: #fff;
        }
      }
    }
}

.video {
    padding: 180px 0 200px;
    background: radial-gradient(rgba(60, 29, 118, 1), rgba(0, 0, 0, 1));
    &__wrapper {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__container {
        width: 75%;
    }
    &__descr {
        width: 20%;
        padding-top: 100px;
        height: 1700px;
        overflow: hidden;
    }
    &__title {
        color: #ffffff;
        font-weight: 300;
        font-size: 128px;
        text-transform: uppercase;
        margin-left: 25%;
        margin-bottom: -1px;
    }
    &__list {
        padding-top: 100px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        row-gap: 70px;
    }
    &__btn {
      margin: 120px auto 0;
      display: flex;
      background-color: transparent;
      border-color: $main;
      &:hover {
        background-color: $main;
      }
    }
}
@media(max-width: 1920px) {
    .promo {
        padding: calcVW(100) 0 calcVW(100);
        &__title {
            font-size: calcVW(165);
            margin-bottom: calcVW(40);
        }
        &__line {
            width: calc(100vw - calcVW(100));
        }
    }
    .heading {
        padding: calcVW(100) 0;
        &__list {
            gap: calcVW(20);
        }
        &__item {
            gap: calcVW(30);
            border-radius: calcVW(120);
            height: calcVW(120);
            &:nth-child(5n+1) {
                width: calc(40% - calcVW(10));
            }
            &:nth-child(5n+2) {
                width: calc(60% - calcVW(10));
            }
            &:nth-child(5n+3) {
                width: calc(25% - calcVW(10));
            }
            &:nth-child(5n+4) {
                width: calc(35% - calcVW(20));
            }
            &:nth-child(5n+5) {
                width: calc(40% - calcVW(20));
            }
            span {
                font-size: calcVW(40);
            }
        }
        &__img {
            height: calcVW(120);
            width: calcVW(200);
            border-radius: calcVW(200);
            border: 1px solid #ffffff;
        }
    }

    .news {
        padding: calcVW(180) 0 0;
        &__title {
          margin-bottom: calcVW(100);
          font-size: calcVW(128);
        }
        &__wrapper {
          padding-bottom: calcVW(250);
        }
        &__list {
            row-gap: calcVW(40);
            margin-bottom: calcVW(150);
        }
        &__descr {
            height: calcVW(1850);
        }
        &__btn {
          bottom: calcVW(150);
        }
    }
    .hero {
        padding: calcVW(180) 0 0;
        &__descr {
            padding-top: calcVW(100);
            height: calcVW(1060);
        }
        &__title {
            padding: calcVW(100) calcVW(120);
            font-size: calcVW(128);
            span {
              font-size: calcVW(48);
            }
        }
        &__btn {
          margin: calcVW(80) auto calcVW(120) 23.1vw;
        }
    }
    .chronicle {
        padding: calcVW(200) 0 0;
        &__descr {
            height: calcVW(1060);
        }
        &__title {
            padding: calcVW(80) 0;
            font-size: calcVW(128);
        }
        &__btn {
          margin: calcVW(100) auto;
        }
    }
    .video {
        padding: calcVW(180) 0 calcVW(200);
        &__descr {
            padding-top: calcVW(100);
            height: calcVW(1700);
        }
        &__title {
            font-size: calcVW(128);
        }
        &__list {
            padding-top: calcVW(100);
            row-gap: calcVW(70);
        }
        &__btn {
          margin-top: calcVW(120);
        }
    }
}

@media(max-width: 768px) {
    .promo {
        padding: 30px 0 60px;
        &__line {
            width: calc(100vw - 17px);
            height: 47%;
            object-fit: fill;
        }
    }
    .heading {
        padding: 40px 0;
        &__list {
            gap: 10px;
        }
        &__item {
            gap: 10px;
            border-radius: 50px;
            height: 50px;
            &:nth-child(5n+1) {
                width: calc(50% - 5px);
                order: 1;
            }
            &:nth-child(5n+2) {
                width: 100%;
                order: 3;
            }
            &:nth-child(5n+3) {
                width: calc(50% - 5px);
                order: 4;
            }
            &:nth-child(5n+4) {
                width: calc(50% - 5px);
                order: 5;
            }
            &:nth-child(5n+5) {
                order: 2;
                width: calc(50% - 5px);
            }
            span {
                font-size: 14px;
            }
        }
        &__img {
            height: 50px;
            width: 80px;
            border-radius: 50px;
            border: 1px solid #ffffff;
        }
    }
    .news {
        padding: 220px 0 30px;
        &__title {
          font-size: 48px;
        }
        &__wrapper {
          padding-bottom: 0;
          position: static;
          flex-direction: column;
        }
        &__list {
            row-gap: 30px;
            margin-bottom: 40px;
        }
        &__container {
            width: 100%;
        }
        &__descr {
            position: absolute;
            width: 100%;
            top: 100px;
            left: 20px;
            height: auto;
        }
        &__btn {
            position: static;
            transform: translate(0);
            margin-bottom: 60px;
            padding: 24px 0;
            gap: 20px;
            max-width: 100%;
            svg {
                display: inline-flex;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }
    .card,
    .video-card {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }

    }
    .hero {
        padding: 230px 0 30px;
        position: relative;
        &__container {
            width: 100%;
        }
        &__descr {
            padding-top: 0;
            position: absolute;
            width: 100%;
            top: 100px;
            left: 20px;
            overflow: hidden;
            height: auto;
        }
        &__title {
            justify-content: center;
            padding: 20px 30px;
            width: 100%;
            margin-left: 0;
            font-size: 8vw;
            span {
              font-size: 4vw;
            }
        }
        &__btn {
          margin-left: auto;
          max-width: 100%;
        }
    }
    .chronicle {
        padding: 220px 0 30px;
        &__title {
            padding: 20px 0;
            font-size: 60px;
            width: 100%;
            margin-left: 0;
        }
        &__list {
            row-gap: 30px;
            margin-bottom: 20px;
        }
        &__container {
            width: 100%;
        }
        &__descr {
            position: absolute;
            width: 100%;
            top: 100px;
            left: 20px;
            height: auto;
        }
        &__btn {
          max-width: 100%;
        }
    }
    .video {
        padding: 60px 0 0;
        position: relative;
        &__list {
            row-gap: 30px;
            margin-bottom: 20px;
        }
        &__title {
            padding: 0;
            font-size: 48px;
            width: 100%;
            margin-left: 0;
            border: none;
            margin-bottom: 160px;
        }
        &__container {
            width: 100%;
        }
        &__descr {
            position: absolute;
            width: 100%;
            top: 140px;
            left: 20px;
            height: auto;
            padding-top: 0;
        }
        .button {
            display: flex;
            margin-bottom: 60px;
            padding: 24px 0;
            color: #ffffff;
            justify-content: center;
            align-items: center;
            gap: 20px;
            max-width: 100%;
            svg {
                display: inline-flex;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }
}
@media(max-width: 576px) {
  .runline {
    span {
      font-size: 42px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
    .promo {
      padding-bottom: 30px;
        &__line {
            height: 37%;
        }
    }

}
@media(max-width: 370px) {
    .promo {
        &__line {
            height: 25%;
        }
    }
}