<div class="slider">
    <div class="container">
        <ul class="slider__list">
            <li class="slider__item slider__item--active">
                <div class="slider__left">
                    <h3 class="slider__title"><span>Анна асти <br>
                        “я беременна”</span></h3>
                    <p class="slider__descr">
                        <span>
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                        </span>
                    </p>
                    <div class="slider__wrapper ">
                        <a class="button slider__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="slider__right">
                    <div class="slider__img">
                        <img src="/img/promo/first.jpg" alt="slide">
                        <div class="slider__back"></div>
                    </div>
                    <div class="slider__heading">
                        <p>
                            <span></span>
                            news
                        </p>
                    </div>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__left">
                    <h3 class="slider__title"><span>Анна асти <br>
                        “я беременна”</span></h3>
                    <p class="slider__descr">
                        <span>
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                        </span>
                    </p>
                    <div class="slider__wrapper">
                        <a href="#" class="button slider__button">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="slider__right">
                    <div class="slider__img">
                        <img src="/img/promo/second.jpg" alt="slide">
                        <div class="slider__back"></div>
                    </div>
                    <div class="slider__heading">
                        <p>
                            <span></span>
                            герои
                        </p>
                     
                    </div>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__left">
                    <h3 class="slider__title"><span>Анна асти <br>
                        “я беременна”</span></h3>
                    <p class="slider__descr">
                        <span>
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                        </span>
                    </p>
                    <div class="slider__wrapper">
                        <a class="button slider__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="slider__right">
                    <div class="slider__img">
                        <img src="/img/promo/third.jpg" alt="slide">
                        <div class="slider__back"></div>

                    </div>
                    <div class="slider__heading">
                        <p>
                            <span>светская</span>
                            хроника
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="counter">
            <div class="counter__numbers">
                <div class="counter__current">
                    03
                </div>&nbsp;/&nbsp; 
                <div class="counter__total">
                    20
                </div>
            </div>
            <div class="counter__arrows">
                <button class="counter__btn counter__dec"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4572 19.4572L1.17893 10.1789M1.17893 10.1789L10.4572 0.900686M1.17893 10.1789L26.821 10.179" stroke="white"/>
                    </svg>
                    
                    </button>
                <button class="counter__btn  counter__inc"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5428 0.542821L25.8211 9.82107M25.8211 9.82107L16.5428 19.0993M25.8211 9.82107L0.178969 9.82103" stroke="white"/>
                    </svg>
                    </button>
            </div>
        </div>
    </div>
</div>