<header class="header">
    <div class="noise"></div>
    <div class="container">
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__item">
                    <a href="/heroes">Герои</a>
                </li>
                <li class="header__item">
                    <a href="/chronicle">Светская хроника</a>
                </li>
                <li class="header__item">
                    <a href="/"><img src="/img/logo.png" alt="logo rocket"></a>
                </li> 
                <li class="header__item">
                    <a href="/news">Новости</a>
                </li> 
                <li class="header__item">
                    <a href="/videos">Видео</a>
                </li> 
            </ul>
            <a href="/" class="header__logo"><img src="/img/logo.png" alt="logo rocket"></a>
            <button class="header__burger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>