.header {
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 5;
    overflow: hidden;
    border-bottom: 1px solid #000000;
    &__nav {
        width: 100%;
    }
    &__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__item {
        text-transform: uppercase;
        color: #000000;
        transition: all .5s ease-in-out;
        font-weight: 400;
        display: flex;
        justify-content: center;
        width: 20%;
        &--active,
        &:hover {
            color: $main;
        }
        &--active {
            color: $main;
            font-weight: 700;
        }
    }
    img {
        width: 130px;
        height: auto;
        object-fit: contain;
    }
    &__burger {
        display: none;
    }
    &__logo {
        display: none;
    }
    &__links {
        display: none;
    }
}
@media(max-width: 1920px) {
    .header {
        padding: calcVW(15) 0;
        img {
            width: calcVW(130);
        }
    }
}
@media(max-width: 768px) {
    .header {
        padding: 0;
        position: relative;
        background: transparent;
        border-bottom: none;
        .noise {
            display: none;
        }
        &__item {
            color: #ffffff;
            width: 100%;
            justify-content: flex-start;
            &:nth-of-type(3) {
                display: none;
            }
            &:first-child {
                border-top: 1px solid #ffffff;
                padding-top: 10%;
            }
            &--active {
                color: $main;
                font-weight: 700;
            }
        }
        &__logo {
            display: block;
            position: absolute;
            left: 0;
            top: 33px;
            &--back {
                width: 40px;
                height: 30px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        img {
            width: 100px;
        }
        &__nav {
            position: relative;
            height: 100px;;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            border-bottom: 1px solid #ffffff;
        }
        &__menu {
            position: fixed;
            background: radial-gradient(rgba(60, 29, 118, 1), rgba(0, 0, 0, 1));
            top: 0;
            left: 100%;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 20px;
            justify-content: flex-start;
            gap: 5%;
            padding-top: 110px;
            transition: all 0.5s ease-in-out;
            &--active {
                left: 0;
            }
        }
        &__burger {
            position: absolute;
            top: 20px;
            right: 0px;
            z-index: 2;
            display: flex;
            background-color: $main;
            border: none;
            outline: none;
            align-items: start;
            justify-content: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            flex-direction: column;
            gap: 6px;
            padding-left: 23px;
            span {
                display: block;
                width: 24px;
                height: 1px;
                background-color: #ffffff;
                &:nth-child(3) {
                    width: 12px;
                }
                &:nth-child(4) {
                    position: absolute;
                    rotate: 45deg;
                    opacity: 0;
                }
                &:nth-child(5) {
                    position: absolute;
                    rotate: -45deg;
                    opacity: 0;
                }
            }
        }
        &__links {
            display: flex;
            width: calc(100vw - 20px);
            position: absolute;
            bottom: 20px;
            left: 0;
            border-top: 1px solid #ffffff;
            flex-direction: column;
            height: 35%;
            justify-content: space-between;
            padding-top: 10%;
            padding-left: 20px;
            color: #ffffff;
            font-size: 18px;
            a {
                &:nth-child(2) {
                    font-size: 24px;
                }
            }
        }
        &__social {
            display: flex;
            justify-content: space-between;
        }
    }
}