.card {
    width: 32%;
    display: flex;
    position: relative;
    cursor: pointer;
    a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    &__img {
        width: 100%;
        height: 300px;
        display: block;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__hot {
        position: absolute;
        right: 20px;
        background-color: $main;
        color: #ffffff;
        text-transform: uppercase;
        width: 110px;
        height: 50px;
        z-index: 2;
        bottom: -25px;
        border-radius: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        width: 90%;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 32px;
        display: block;
        text-transform: uppercase;
        height: 71px;
        overflow: hidden;
    }
    &__descr {
        margin-top: auto;
        margin-left: 30px;
        margin-bottom: 30px;
        width: 90%;
        display: block;
        height: 64px;
        overflow: hidden;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        border: 2px solid $main;
    }
    &:nth-child(6n + 4),
    &:nth-child(6n + 5),
    &:nth-child(6n + 6) {
        &::after {
            left: -10px;
        }
        .card__title {
            margin-left: 10px;
        }
        .card__descr {
            margin-left: 10px;
        }
        .card__hot {
            right: 30px;
        }
    }
}

@media(max-width: 1920px) {
    .card {
        &__img {
            height: calcVW(300);
        }
        &__hot {
            right: calcVW(20);
            width: calcVW(110);
            height: calcVW(50);
            bottom: calcVW(-25);
            border-radius: calcVW(50);
        }
        &__title {
            margin-left: calcVW(30);
            margin-top: calcVW(50);
            margin-bottom: calcVW(30);
            font-size: calcVW(32);
            height: calcVW(71);
        }
        &__descr {
            margin-left: calcVW(30);
            margin-bottom: calcVW(30);
            height: calcVW(64);
        }
        &::after {
            top: calcVW(10);
            left: calcVW(10);
        }
        &:nth-child(6n + 4),
        &:nth-child(6n + 5),
        &:nth-child(6n + 6) {
            &::after {
                left: calcVW(-10);
            }
            .card__title {
                margin-left: calcVW(10);
            }
            .card__descr {
                margin-left: calcVW(10);
            }
            .card__hot {
                right: calcVW(30);
            }
        }
    }
}
@media(max-width: 768px) {
    .card {
        width: 48%;
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            display: none;
        }

        &__img {
            height: 250px;
        }
        &__title {
            margin-left: 15px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 16px;
            height: 31px;
        }
        &__descr {
            margin-left: 15px;
            margin-bottom: 20px;
            height: 45px;
            font-size: 10px;
        }
        &::after {
            top:5px;
            left: 5px;
            pointer-events: none;
        }
        &:nth-child(6n + 4),
        &:nth-child(6n + 5),
        &:nth-child(6n + 6) {
            &::after {
                left: 5px;
            }
            .card__title {
                margin-left: 15px;
            }
            .card__descr {
                margin-left: 15px;
            }
            .card__hot {
                right: 20px;
                width: 70px;
                height: 30px;
                font-size: 20px;
            }
        }
    }
    .card__hot {
        right: 20px;
        width: 70px;
        height: 30px;
        font-size: 20px;
        bottom: -15px;
    }
}
@media(max-width: 576px) {
    .card {
        width: 100%;
    }
}