@import '../pages/news/news';
.news {
    padding: 160px 0;
    color: #fff;
    &__title {
        font-size: 185px;
        position: relative;
        padding-bottom: 60px;
        text-transform: uppercase;
        font-size: 200px;
        font-weight: 300;
        line-height: 1;
        span {
            font-size: 64px;
          }

    }
    &__btn {
        margin: 100px auto 0;
      }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 50px;
    }
    .slider__heading {
        display: none;
    }
    .divider {
        margin-top: 120px;
        margin-bottom: 100px;
    }
}
.promo {
    &__inner {
        width: 100%;
        position: relative;
    }
    &__line {
        width: calc((100vw - 1920px) / 2 + 1820px);
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;
        img {
            width: 100%;
        }
    }
  
}

@media(max-width: 1920px) {
    .news {
        padding: calcVW(160) 0;
        color: #fff;
        &__title {
            font-size: calcVW(185);
            position: relative;
            padding-bottom: calcVW(60);
            text-transform: uppercase;
            font-size: calcVW(200);
            font-weight: 300;
            line-height: 1;
            span {
                font-size: calcVW(64);
            }
    
        }
        &__btn {
            margin: calcVW(100) auto 0;
          }
        .divider {
            margin-top: calcVW(120);
            margin-bottom: calcVW(100);
        }
    }
    .promo {
        padding: 0 0 0;
        &__title {
            font-size: calcVW(185);
        }
        &__line {
            width: calc(100vw - calcVW(100));
        }
    }
}
@media(max-width: 768px) {
    .news {
        padding: 40px 0;
        &__title {
            font-size: 36px;
            padding-bottom: 30px;
            span {
                font-size: 16px;
            }
    
        }
        &__btn {
            margin: 30px auto 0;
          }
        .divider {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
    .promo {
        padding: 0 0 0;
        &__line {
            width: calc(100vw - 17px);
            height: 47%;
            object-fit: fill;
        }
    }
}