<div class="heroes">
    <ul class="heroes__list">
        <li class="heroes__item heroes__item--active">
            <div class="heroes__left">
                <div class="heroes__img">
                    <img src="/img/promo/first.jpg" alt="slide">
                    <div class="heroes__back"></div>
                </div>
                <div class="heroes__heading sr-only">
                    <p></p>
                </div>
            </div>
            <div class="heroes__right">
                <h3 class="heroes__title">
                    <p>
                        Анна асти
                    <span>
                        “я беременна”</span></h3>
                    </p>
                    
                <p class="heroes__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="heroes__wrapper">
                    <a class="button heroes__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            
        </li>
        <li class="heroes__item">
            <div class="heroes__left">
                <div class="heroes__img">
                    <img src="/img/promo/first.jpg" alt="slide">
                    <div class="heroes__back"></div>
                </div>
                <div class="heroes__heading sr-only">
                    <p></p>
                </div>
            </div>
            <div class="heroes__right">
                <h3 class="heroes__title">
                    <p>
                        Анна асти
                    <span>
                        “я беременна”</span></h3>
                    </p>
                    
                <p class="heroes__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="heroes__wrapper">
                    <a class="button heroes__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            
        </li>
        <li class="heroes__item">
            <div class="heroes__left">
                <div class="heroes__img">
                    <img src="/img/promo/first.jpg" alt="slide">
                    <div class="heroes__back"></div>
                </div>
                <div class="heroes__heading sr-only">
                    <p></p>
                </div>
            </div>
            <div class="heroes__right">
                <h3 class="heroes__title">
                    <p>
                        Анна асти
                    <span>
                        “я беременна”</span></h3>
                    </p>
                    
                <p class="heroes__descr">
                    <span>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях...
                    </span>
                </p>
                <div class="heroes__wrapper">
                    <a class="button heroes__button" href="#">Читать полностью <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.3641 0.542821L25.6424 9.82107M25.6424 9.82107L16.3641 19.0993M25.6424 9.82107L0.000258233 9.82103" stroke="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            
        </li>
    </ul>
    <div class="scors">
        <div class="scors__numbers">
            <div class="scors__current">
                03
            </div>&nbsp;/&nbsp; 
            <div class="scors__total">
                20
            </div>
        </div>
        <div class="scors__arrows">
            <button class="scors__btn scors__dec"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4572 19.4572L1.17893 10.1789M1.17893 10.1789L10.4572 0.900686M1.17893 10.1789L26.821 10.179" stroke="white"/>
                </svg>
                
                </button>
            <button class="scors__btn  scors__inc"><svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5428 0.542821L25.8211 9.82107M25.8211 9.82107L16.5428 19.0993M25.8211 9.82107L0.178969 9.82103" stroke="white"/>
                </svg>
                </button>
        </div>
    </div>
</div>