.heroes {
    color: #ffffff;
    position: relative;
    &__item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px;
        z-index: -2;
        &--active {
            z-index: 0;
        }
    }
    &__list {
        position: relative;
        height: 750px;
        border: 2px solid $main;
        border-bottom-left-radius: 200px;
    }
    &__left {
        width: 31%;
    }
    &__right {
        width: 65%;
        position: relative;
    }
    &__title {
        text-transform: uppercase;
        font-size: 64px;
        height: 180px;
        margin-bottom: 25px;
        overflow: hidden;
        font-weight: 400;
        margin-top: 145px;
        p {
            display: block;
        }
        span {
            display: block;
            font-size: 96px;
        }
    }
    &__descr {
        height: 110px;
        margin-bottom: 50px;
        overflow: hidden;
        width: 70%;
        span {
            display: block;
        }
    }
    &__wrapper {
        width: 60%;
        overflow: hidden;
    }
    &__button {
        width: 100%;
        height: 100%;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        font-weight: 300;
        padding: 45px 0;
       
    }
    &__img {
        width: 100%;
        height: 650px;
        overflow: hidden;
        border-radius: 170px;
        border: 2px solid #ffffff;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(.8);
        }
    }
}
.scors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: -200px;
    gap: 175px;
    right: 80px;
    position: absolute;
    &__numbers {
        font-size: 40px;
        min-height: 70px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        line-height: 1;
    }
    &__current {
        font-size: 96px;
        margin-bottom: -10px;
        width: 110px;
    }
    &__arrows {
        display: flex;
    }
    &__btn {
        background-color: transparent;
        border: 1px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        pointer-events: none;
        opacity: .5;
        transition: all .5s ease-out;
        &--active {
            opacity: 1;
            transition: all .5s ease-in-out;
            pointer-events: all;
            cursor: pointer;
        }
        &:hover {
            background-color: transparent;
            border: 1px solid rgba(123, 54, 255, 1);
        }
    }
    &__dec {
        margin-right: -15px;
    }
    &__inc {
        background-color: rgba(123, 54, 255, 1);
        border: 1px solid rgba(123, 54, 255, 1);
    }
}
@media(max-width: 1920px) {
    .heroes {
        &__item {
            padding: calcVW(50);
        }
        &__list {
            height: calcVW(750);
            border-bottom-left-radius: calcVW(200);
        }
        &__title {
            font-size: calcVW(64);
            height: calcVW(180);
            margin-bottom: calcVW(25);
            margin-top: calcVW(145);
            span {
                font-size: calcVW(96);
            }
        }
        &__descr {
            height: calcVW(110);
            margin-bottom: calcVW(50);
        }
        &__button {
            gap: calcVW(40);
            padding: calcVW(45) 0;
           
        }
        &__img {
            height: calcVW(650);
            border-radius: calcVW(170);
        }
    }
    .scors {
        top: calcVW(-200);
        gap: calcVW(175);
        right: calcVW(80);
        &__numbers {
            font-size: calcVW(40);
            min-height: calcVW(70);
        }
        &__current {
            font-size: calcVW(96);
            margin-bottom: calcVW(-10);
            width: calcVW(110);
        }
        &__btn {
            width: calcVW(120);
            height: calcVW(120);
        }
        &__dec {
            margin-right: calcVW(-15);
        }
    }
}

@media(max-width: 768px) {
    .heroes {
        height: 730px;
        &__list {
            height: 550px;
            margin-top: 40px;
            border-radius: 35px;
            position: relative;
        }
        &__item {
            flex-direction: column;
            padding: 20px 20px 0 20px;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
        &__img {
            height: 295px;
            border-radius: 30px;
            margin-top: -40px;
        }
        &__title {
            margin-top: 20px;
            font-size: 20px;
            text-align: center;
            height: 75px;
            span {
                font-size: 36px;
                margin-top: 10px;
            }
        }
        &__descr {
            width: 100%;
            text-align: center;
            font-size: 14px;
            height: 60px;
            margin-bottom: 30px;
        }
        &__wrapper {
            width: calc(100% + 40px);
            position: absolute;
            bottom: -80px;
            left: -20px;
        }
        &__button {
            gap: 10px;
            font-size: 20px;
            padding: 24px 0;
            margin-top: auto;
            max-width: 100%;
        }
    }
    .scors {
        top: auto;
        width: calc(100% - 40px);
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        &__numbers {
            font-size: 14px;
            min-height: 28px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &__current {
            font-size: 40px;
            margin-bottom: -5px;
            width: 48px;
        }
        &__arrows {
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
        &__btn {
            width: 70px;
            height: 70px;
        }
        &__dec {
            margin-right: 0
        }
    }
}

@media(max-width: 370px) {
    .scors {
        &__arrows {
            justify-content: space-between;
        }
    }
}